#DefectiveCulture p{
    text-align: center;
}

#aboutOwner p{
    text-align: center;
}
#aboutme h1{
        text-align: center;
        color: black;
        font-family:  'Arial Narrow Bold';
    }